
.container {
  display: flex;
  border: 2px solid yellow;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.background {
  background-color: green;
}

h1 {
  justify-content: center;
  color: red;
}

@media(min-width:900px) {
  body{
   background-color:white;
 }
}

article {
  background: blue;
}

#footer {
  background-color: grey;
}
